<div class="container">
    <form action="/books/<%= @book.id %>" method="post">
        <div class="controls">
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="書名" value="<%= CGI.escapeHTML(@book.title) %>"><br>
                <input class="form-control" type="text" name="author" placeholder="著者名" value="<%= CGI.escapeHTML(@book.author) %>"><br>
                <input class="form-control" type="text" name="date" placeholder="読了日" value="<%= @book.date %>"><br>
                <input class="form-control" type="text" name="rate" placeholder="評価(1~5)" value="<%= @book.rate %>"><br>
                <div class="form-group">
                    <textarea class="form-control" name="comment" placeholder="コメント"><%= CGI.escapeHTML(@book.comment) %></textarea>
                </div>
                 ジャンル:<select class="form-control" name="list">
                    <% List.all.each do |list| %>
                        <option value="<%= list.id %>">
                            <% if list.id == @book.list.id %>
                                ✔
                            <% end %>
                            <%= list.name %>
                        </option>
                    <% end %>
                </select>
            </div>
            <div>
                <input type="submit" class="btn" style="background-color: #AAAAAA; color: white;" value="登録">
            </div>
        </div>
    </form>
</div>