<div class="container">
    <div class="panel panel-default">
    	<div class="panel-heading header-grey">
    	    <h4>編集</h4>
    	</div>
    	<div class="panel-body">
    	    <form action="/books/<%= @book.id %>" method="post">
                <div class="controls">
                    <div class="form-group sentence">
                        <p><label>書名</label><input class="" type="text" name="title" value="<%= CGI.escapeHTML(@book.title) %>"></p>
                        <p><label>著者</label><input class="" type="text" name="author" value="<%= CGI.escapeHTML(@book.author) %>"></p>
                        <p><label>読了日</label><input class="" type="text" name="date" value="<%= @book.date %>"></p>
                        <p class="rate"><label>評価(1~5)</label><small class="description">1</small><input class="input-range" type="range" min="1" max="5" name="rate" value="<%= @book.rate %>"><small class="description">5</small></p>
                        <div class="form-group">
                            <span><label>コメント</label><input type="button" class="btn-outline-dark btn pull-right" onClick="clearText( )" value="クリア"></span>
                            <textarea class="comment" name="comment" id="comment" placeholder=""><%= CGI.escapeHTML(@book.comment) %></textarea>
                        </div>
                        <p><label>ジャンル</label><select class="" name="list">
                            <% List.had_by(current_user).each do |list| %>
                                <option value="<%= list.id %>">
                                    <% if list.id == @book.list.id %>
                                        ×
                                    <% end %>
                                    <%= list.name %>
                                </option>
                            <% end %>
                        </select></p>
                    </div>
                    <footer class="form-footer">
                        <input type="reset" class="btn font-white back-black" value="リセット" ><input type="submit" class="btn font-white back-gray" value="登録"><a class="pull-right btn" href="/">戻る</a>
                    </footer>
                </div>
            </form>
    	</div>
    </div>
</div>
<script language="JavaScript">
function clearText(){
     document.getElementById('comment').value = "";
};
</script>