<% if current_user.nil? %>
<div class="container font-white">
	<!--<div class="panel panel-default">-->
		<!--<div class="panel-body">-->
			<div class="row">
				<div class="col-lg-12 text-left">
					<h2 class="h2"><dt>ようこそブックマネージャー(仮)へ！</dt></h2>
					<p class="lead serif">あなたのための読書記録。</p>
					<a href="/signup" class="btn back-blue font-white hvr-fade" role="button" aria-pressed="true">今すぐに登録 (無料)</a>
				</div>
			</div>
			<div class="row text-left serif">
				<div class="col-lg-6">
				<h3><dt>ブックマネージャーとは？</dt></h3>
				<p>
					ブックマネージャーは読んだ本の記録を取ることに特化したWEBサービスです。<br>
					「あの本なんだっけ？思い出せない！」作者自身のそんな悩みを解消するために生まれたのがこの「ブックマネージャー(仮)」です。<br>
					自分だけの読書記録を取ってみたい方、気軽に使ってみてください。<br>
					現在開発中ですので、不具合が存在する可能性がございます。ご了承ください。<br>
				</p>
				</div>
				<div class="col-lg-6">
				<h3><dt>どう使えばいいの？</dt></h3>
				<p>
					まずは上のボタンからアカウントを作成してください。もちろん無料です。<br>
					ログインができたら早速「新たに読んだ本」というボタンを押して、今日読んだ本のことを書いてみましょう。記入が済んだら「登録」ボタンを押します。そうすれば「投稿一覧」にその内容が反映されます。<br>
					毎回続ければ、自分だけの「読書記録」が出来上がります。<br>
					素敵な本に出会ったら、使ってみましょう。<br>
				</p>
				<p>
					それでは素敵な読書ライフを！
				</p>
				</div>
			</div>
		<!--</div>-->
	<!--</div>-->
</div>
<% else %>
<div class="container">
	<div class="row">
			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: black; background-image: none; color: white;">
						<h4 class="font-white">ユーザー情報</h4>
					</div>
					<div class="panel-body post">
						<p class="form-group sentence"><label>
							<% if current_user.image.nil? %>
	                			<img src="/img/default-profile.jpg" class="icon">
	                		<% else %>
	                			<img src="<%= current_user.image %>" class="icon">
	                		<% end %>
                    	</label><a href="/user" class="user-name"><%= current_user.name %></a></p>
						<p class="form-group sentence"><label>読んだ本</label><%= @books.count %>冊</p>
						<P class="form-group sentence"><label>カテゴリー</label><%= @lists.count %>個</P>
						<p><a href="/signout" class="btn back-black font-white" role="button" aria-pressed="true">ログアウト</a></p>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item font-white" style="background-color:black">カテゴリー</li>
					<li class="list-group-item"><a href="/books/star" class="sentence">お気に入り</a></li>
					<% @lists.each do |list| %>
						<li class="list-group-item book-list" data-id="<%= list.id %>">
							<a href="/list/<%= list.id %>" class="sentence"><%= list.name %></a>
							<i class="fa fa-times-circle list-delete" data-id="<%= list.id %>"></i>
						</li>
					<% end %>
					<li class="list-group-item"><a href="/lists/new" class="sentence">新規カテゴリー</a></li>
				</ul>
			</div>
		<div class="col-lg-3"></div>
		<div class="col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color: black; background-image: none; color: white;">
					<h4 class="font-white">
						<%= @title %>
					</h4>
				</div>
				<% if @books.count.zero? %>
					<div class="panel-body post">
						<p class="description sentence">まだ投稿はありません</p>
					</div>
				<% else %>
				<% @books.each do |book| %>
			    <div class="panel-body post" data-id="<%= book.id %>">
			    	<div class="post-button">
						<a class="book-edit" aria-pressed="true" href="/books/<%= book.id %>/edit"><i class="fa fa-pencil-square-o"></i></a>
						<a class="book-delete" aria-pressed="true" data-id="<%= book.id %>"><i class="fa fa-times"></i></a>
			    	</div>
			    	<h3><%= CGI.escapeHTML(book.title) %><br>
			    	<small class="sentence text-muted">著:<%= CGI.escapeHTML(book.author) %></small></h3>
			    	<p class="sentence">評価:<span style="color: yellow; font-size: 20px;"><%= '★' * book.rate %></span></p>
					<p class="sentence">お気に入り:
					<% if book.star %>
					<a class="star" data-id="<%= book.id %>" style="color:red;">★</a>
					<% else %>
					<a class="star black" data-id="<%= book.id %>" style="color:#848484;">★</a>
					<% end %>
					</p>
					<blockquote class="blockquote sentence" style="border: none;">
						<p class="mb-0"><%= (book.comment).gsub("\n","<br/>") %></p>
						<footer class="blockquote-footer"><%= current_user.name %> <%= book.date %></footer>
					</blockquote>
			    </div>
			    <% end %>
			    <% end %>
			    <div class="panel-body">
			    	<h4><a href="/books/new" class="btn back-black font-white" role="button">新たに読んだ本</a></h4>
			    </div>
			</div>
		</div>
	</div>
</div>
<% end %>